/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}


/* =================
Typography
================= */

.aboutheader strong {
    font-weight: bolder;
}

.aboutheader {
    color:#143774;
    font-family: 'Lora', serif;
}

.big-boy h2 {
    color:#143774;
}

span {
    color: #1792d2;
    font-family: 'Lora', serif;
}


h1 {
    font-family: 'Lora', serif;
    font-weight: 400;
    color: #143774;
    font-size: 2rem;
    margin: 0;
}

.subtitle {
    font-weight: 700;
    color: #1792d2;
    font-size: .75rem;
    margin: 0;
}

.skinny-boy {
    font-weight: 700;
    text-decoration: none;
}



.skinny-boy a {
    text-decoration: none;
    color:#143774;
    font-weight:400;
}

.ayo {
    font-family: monospaced, sans-serif;
}

.serif {
    font-family: serif;
}

/* =================
Layout
================= */

.about-me-main {
    display: flex;
}

.memain {
    width:60%;
    margin:0 auto;
}

.memain img {
    margin-top:2em;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    width:80%;
}

.big-boy a {
    color:#1792d2;
}

img {
    width:100%;
    display: block;
}

.continue {
    color:#1792d2;
    font-weight:700;
    text-decoration: none;
}

.big-boy .yo {
    text-decoration: underline;
}

.continue:hover, 
.continue:active,
.continue:focus {
    color:#1d4ca3;
    text-decoration: underline;
}

main {
    width:80%; 
    color:#707070;
    max-width: 1100px;
}

.skinny-boy .continue {
    margin-top:10%;
}


.big-boy img {
    height: 10em;
    width:100%;
    object-fit: cover;
}

.big-boy .unique {
    width:100%;
    height:20%;
}

main {
    margin:0;
    display:flex;
    margin:0 auto;
}

.skinny-boy {
    margin:1rem;
    width:30%;
}

.comment {
    color:#707070;
}

header {
    background: #f8f8f8;
    padding: 2em 0;
}


.p-one-nine, .p-two, .p-three, .p-four {
    display:flex;
    justify-content: space-around;
}

.big-boy {
    margin: 0.70rem;
    width:70%;
    height:100%;
}

.unique {
    margin-top: 12px;
}

a, h2, h3, p {
    margin: 0;
    padding:0.75rem 0 ;
}


.skinny-boy .ye {
    margin-top: 0.75rem;
    padding:0.5em;
    border:0.80em solid rgba(0,0,0,0.1);
    margin:0 auto;
    align-items: center;
    text-align: center
}

footer {
    background:#143774 ;
    color: white;
    text-align: center;
    padding:2em;
}

.a, .b, .c {
    border-bottom: solid 3px #707070;
}


.aboutheader h3 {
    color: #1792d2;
    font-family: 'Lora', serif;
}

.bruh {
    margin-left: 10px;
}

.bottom {
    margin-top: 12px;
}

.bottom .four {
    margin-right:10px;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }
    
    header {
        text-align: center;
    }
}

/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    padding: 0;
}

nav a:hover,
nav a:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}

.skinny-boy {
    margin-top:22px;
}

.big-boy {
    margin-top: 10px;
}

.unique {
    margin-bottom:0;
    margin-bottom:1em;
}

@media (max-width: 675px) {
    nav ul {
        flex-direction: column;
    }
    
    nav li {
        margin: .5em 0;
    }
    
    main {
        flex-direction: column;
        align-items: center;
        margin:0;
        width:100%;
        text-align: center;
    }
    
    .skinny-boy {
        margin:0;
        margin:0 auto;
        margin-bottom:60px;
        width:28rem;
    }

    body {
        justify-content: space-around;
    }

    .skinny-boy .one {
        margin:0;
        margin:30px 0 20px 0;
    }

    .big-boy {
        width: 28rem;
    }
}

